<html>
  <head>
  <title>RESULTS</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container well">
      <h2>This is the results page!</h2>
      <p>@Model.GetWeight()</p>
      <p>@Model.GetHeight()</p>
      <p>@Model.GetLength()</p>
      <p>@Model.GetWidth()</p>
      <!-- <p>@Model.GetSender()</p> -->
    </div>
  </body>
</html>
